asgiref
certifi
charset-normalizer
click
Django
django-redis
django-rest-knox
djangorestframework
dynaconf
hvac
idna
Jinja2
loguru
MarkupSafe
mysqlclient
PyYAML
redis
requests
shortuuid
sqlparse
urllib3
validators
