    <h1>Добро пожаловать!</h1>
    <blockquote>
        <em>
            &nbsp; &nbsp; &nbsp; <strong>Парадокс</strong> - странное, расходящееся с общепринятым мнением,
            высказывание, а также мнение, противоречащее
            (иногда только на первый взгляд) здравому смыслу.
            <br>Ист. - Толковый словарь Ожегова.
        </em>
    </blockquote>

    <div class="img-block1">
        <img class="python" src="{{ static('/main/images/python.jpg') }}" alt="python_image">
        <img class="html" src="{{ static('/main/images/html5_css3.jpg') }}" alt="html_css3_image">
    </div>
    <p>Приветствую Вас, WEB-серфер, случайно зашедший на мой WEB-портал.</p>
    <div class="img-block2">
        <img class="c-sharp" src="{{ static('/main/images/c-sharp.jpg') }}" alt="c-sharp_image">
        <img class="writer" src="{{ static('/main/images/writer.jpg') }}" alt="writer_image">
    </div>
    <p>
        Мой сайт еще находится на стадии разработки, тем не менее, он уже вполне может называться полноценным
        сайтом.
        Он просто еще сыроват и пустоват. Но я постараюсь со временем его доработать, добавить сервисы и заполнить
        его
        содержимым.
    </p>
    <p>
        Зовут меня Жорж Парадокс, вернее это мой псевдоним, как это и принято в мире интернета. И я системный
        администратор
        и писатель. Пишу я в основном на языках C# и Python, пишу я настольные приложения и WEB-сайты, ну и иногда
        просто пишу, для души. Всему этому я и хотел бы посвятить свой портал.

    </p>
    <p>
        Если у Вас есть желание поделиться своими знаниями или творчеством с другими участниками пользователями сети
        интернет,
        то смело регистрируйтесь на моем портале и публикуйте свои статьи.
    </p>
    <p>
        Но не забывайте о запрете нарушать чужие авторские права.
        Если кто-то из правообладателей обратиться к администратору сайта о нарушении авторского права, то спорная
        статья будет
        заблокирована до конца разбирательства. И если факт нарушения будет доказан, статья с портала будет удалена.
    </p>
